################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Newshore/.vs/Newshore
/Newshore/Newshore/bin/Debug/net8.0
/Newshore/Newshore/obj
/Newshore/NewshoreUnitTest/bin/Debug/net8.0
/Newshore/NewshoreUnitTest/obj
/Newshore/.vs/ProjectEvaluation
/Newshore/NewshoreUnitTest/bin/Release/net8.0
